<%- include("partials/_header.ejs"); -%>

<div class="accounts-page">

  
<h1>Accounts</h1>
<div class="">
  <div class="  accounts-summary">
    <div class=" debit">
      <h1>Credit/debit</h1>
      <h1>$ <%= debitAvailable %> </h1>
    </div>
    <div class="  efectivo">
      <h1>Efectivo</h1>
      <h1>$ <%= cashAvailable %> </h1>
    </div>
  </div>
</div>

<!--add transactions-->
<div class="form">
  <form class="" action="/accounts" method="post">
    <div class="">
      <div class=" ">
        <input class="form-control" type="date" name="date" value="">
      </div>
      <div class=" ">
        <select class="form-select" name="accountType">
          <%  accounts.forEach(function(account){ %>
              <option value=" <%=account._id%> "> <%=account.accountName%> </option>
          <%  }) %>
        </select>
      </div>
      <div class=" ">
        <input class="form-control" type="text" name="payee" value="" placeholder="payee">
      </div>
      <div class=" ">
        <select class="form-select" name="category">
          <%  categories.forEach(function(category){ %>
          <%    if(category.categoryName == "=Ready to assign="){ %>
          <option selected value="<%=category._id%>"> <%=category.categoryName%></option>
          <%    } else {  %>
          <option value="<%=category._id%>"> <%=category.categoryName%></option>
          <%    }  %>
          <%  });  %>
        </select>
      </div>
      <div class=" ">
        <input class="form-control" type="text" name="description" value="" placeholder="Description">
      </div>
      <div class=" ">
        <input class="form-control" type="number" name="ammount" value="" placeholder="ammount (+/-)">
      </div>
    </div>
    <div class=" d-flex justify-content-end align-content-end text-end">
      <div class=" ">
        <input class="hidden" type="hidden" name="budgetId" value=" <%= budgetId %> ">
        <button class="btn btn-dark" type="submit" name="button">add transaction</button>
      </div>
    </div>
  </form>
</div>

<div class="transactions">
  <% transactions.forEach(function(transaction){ %>
  <div class="">
    <p class=""> <%= moment(transaction.date).format("DD/MM/YY"); %> </p>
    <%  if(transaction.account.equals(cashAccountId)){ %>
    <p class="">Cash</p>
    <%    } else { %>
    <p class="">Debit</p>
    <%    } %>
    <p class=""> <%= transaction.payee %> </p>
    <p class=""> <%= transaction.category %> </p>
    <p class=""> <%= transaction.description %> </p>
    <p class=""> <%= transaction.ammount %> </p>
  </div>
  <% }); %>
</div>



</div>

<%- include("partials/_footer.ejs"); -%>
