<%- include("partials/_header.ejs"); -%>

<div class="accounts-page">
  <h1>Accounts</h1>
  <div class="">
    <div class="accounts-summary">
      <div class="debit">
        <h1>Bank/debit</h1>
        <h1>$ <%= debitAvailable %></h1>
      </div>
      <div class="efectivo">
        <h1>Cash</h1>
        <h1>$ <%= cashAvailable %></h1>
      </div>
    </div>
  </div>

  <!--add transactions-->
  <div class="borrar">
    <form class="" action="/accounts" method="post">
      <div class="form-container">
        <input class="form-control" type="date" name="date" value="" />

        <select class="form-select" name="accountType">
          <% accounts.forEach(function(account){ %>
          <option value=" <%=account._id%> "><%=account.accountName%></option>
          <% }) %>
        </select>

        <input
          class="form-control"
          type="text"
          name="payee"
          value=""
          placeholder="payee"
        />

        <select class="form-select" name="category">
          <% categories.forEach(function(category){ %> <%
          if(category.categoryName == "=Ready to assign="){ %>
          <option selected value="<%=category._id%>">
            <%=category.categoryName%>
          </option>
          <% } else { %>
          <option value="<%=category._id%>"><%=category.categoryName%></option>
          <% } %> <% }); %>
        </select>

        <input
          class="form-control"
          type="text"
          name="description"
          value=""
          placeholder="Description"
        />

        <input
          class="form-control"
          type="number"
          name="ammount"
          value=""
          placeholder="ammount (+/-)"
        />
      </div>
      <div>
        <input
          class="hidden"
          type="hidden"
          name="budgetId"
          value=" <%= budgetId %> "
        />
        <button class="btn btn-dark" type="submit" name="button">
          add transaction
        </button>
      </div>
    </form>
  </div>

  <div class="transactions">
    <% transactions.forEach(function(transaction){ %>
    <div class="single-transaction">
      <p class=""><%= moment(transaction.date).format("DD/MM/YY"); %></p>
      <% if(transaction.account.equals(cashAccountId)){ %>
      <p class="">Cash</p>
      <% } else { %>
      <p class="">Debit</p>
      <% } %>
      <p class=""><%= transaction.payee %></p>
      <p class=""><%= transaction.category %></p>
      <p class=""><%= transaction.description %></p>
      <p class=""><%= transaction.ammount %></p>
    </div>
    <% }); %>
  </div>
</div>

<%- include("partials/_footer.ejs"); -%>
