<%- include("partials/_header.ejs"); -%>

<div class="header row">
  <div class="col">
    <%  if(excedeMaximo){ %>
    <h1 class="available excedeMaximo col"> $ <%= totalDisponible %> </h1>
    <%  } else { %>
    <h1 class="available col">$ <%= totalDisponible %> </h1>
    <%  } %>
  </div>
</div>
<div class="budget">
  <div class="bar-menu">
    <p class="test">Add category: <button type="button" name="" id="addCatButton">+</button></p>
    <form class="add-category hidden" action="/add-category" method="post">
      <input type="text" name="categoryName" value="" placeholder="category name" autocomplete="false">
      <button type="submit" name="addCatButton" value="<%=budget[0]._id%>">+</button>
    </form>
  </div>



  <% categories.forEach(function(item){ %>
  <form action="/budget" method="post">
    <div class="row form-group">
      <div class="col-6">
        <p class="form-control category"> <%=item.categoryName%> </p>
      </div>
      <div class="col">
        <input id="assigned" type="number" name="assigned"
        value="<%=item.categoryAssigned%>" class="form-control"
        onchange="this.form.submit()" placeholder="---" autocomplete="off">
      </div>
      <div class="col">
        <p id="available" class="form-control" >$ <%=item.categoryAvailable%></p>
        <input type="hidden" name="presupuestoId" value="<%= budget[0]._id %>">
        <input type="hidden" name="categoryId" value="<%=item._id%>">
          </div>
    </div>
  </form>
  <% }); %>
</div>


<%- include("partials/_footer.ejs"); -%>
