<%- include("partials/_header.ejs"); -%>

<div class="budget-page">

  
<div class="header">
  <div id="available">
    <%  if(excedeMaximo){ %>
    <h1 class="available excedeMaximo "> $ <%= totalDisponible %> </h1>
    <%  } else { %>
    <!-- <h1 class="available ">$ <%= totalDisponible %> </h1> -->
    <h1 class="available ">$ <%= totalDisponible %> </h1>
    <%  } %>
  </div>
</div>
<div class="budget">
  <div class="bar-menu">
    <!-- <p class="add-category-para">Add category: <button type="button" name="" id="addCatButton">+</button></p>
     -->
     <p class="add-category-para">Add category</p>
    <form class="add-category hidden" action="/add-category" method="post">
      <input type="text" name="categoryName" value="" placeholder="category name" autocomplete="false">
      <button type="submit" name="addCatButton" value="<%=budget[0]._id%>">+</button>
    </form>
  </div>


  <div class="categories">
  <% categories.forEach(function(item){ %>
  
    <form action="/budget" method="post" class="categories-form">
      <div class="category">
        <p class=""> <%=item.categoryName%> </p>
      </div>
      <div class="">
        <input type="number" name="assigned"
        value="<%=item.categoryAssigned%>" class="assigned"
        onchange="this.form.submit()" placeholder="---" autocomplete="off">
      </div>
      <div class="">
        <p class="available" >$ <%=item.categoryAvailable%></p>
        <input type="hidden" name="presupuestoId" value="<%= budget[0]._id %>">
        <input type="hidden" name="categoryId" value="<%=item._id%>">
      </div>
  </form>
  
  <% }); %>
</div>
</div>

</div>

<%- include("partials/_footer.ejs"); -%>
